@model Superhero_Creator.Models.Superhero

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Superhero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltEgo" class="control-label"></label>
                <input asp-for="AltEgo" class="form-control" />
                <span asp-validation-for="AltEgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimAbility" class="control-label"></label>
                <input asp-for="PrimAbility" class="form-control" />
                <span asp-validation-for="PrimAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecAbility" class="control-label"></label>
                <input asp-for="SecAbility" class="form-control" />
                <span asp-validation-for="SecAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatchPhrase" class="control-label"></label>
                <input asp-for="CatchPhrase" class="form-control" />
                <span asp-validation-for="CatchPhrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
